* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

a,
a:hover {
  text-decoration: none;
}

/* Top Section Start */
.top-section {
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
}
.top-sec h1 {
  padding-top: 10%;
  font-size: 32px;
  line-height: 42px;
}
.top-sec span {
  color: #34b3f1;
}
.top-sec h3 {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0;
}
.top-sec p {
  font-size: 16px;
  line-height: 26px;
  padding: 10px 0 30px;
}
.link-btn {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  padding: 15px 35px;
  color: #000000;
  background-image: linear-gradient(#f15412, #eeeeee);
  border-radius: 20px;
}
.flexable-container {
  display: flex;
}
.top-sec {
  width: 50%;
  padding: 80px 40px;
}
.top-sec img {
  width: 80%;
}

/* Mid Section Start */
.mid-section {
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.mid-section h3 {
  padding-top: 20px;
}

/* Bottom-Section Start */
.bottom-section {
  background-image: url(../images/exp-bg.png);
  background-repeat: no-repeat;
}
.bottom-section h1 {
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #f15412;
}
.bottom-section h2 {
  font-size: 32px;
  line-height: 42px;
}

.bottom-section .h4_1 {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0;
  color: #34b3f1;
}

.bottom-section .h4_2 {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0;
  color: #f15412;
}

.bottom-sec {
  width: 40%;
  margin: 5%;
  padding: 60px 40px;
  background-color: transparent;
  box-shadow: 10px 10px 20px gray;
  border-top-right-radius: 50px;
}

.bottom-section .box1 {
  border-left: 5px solid #f15412;
}

.bottom-section .box2 {
  border-left: 5px solid #34b3f1;
}

/* Footer Section Start */
footer p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding: 10px 0 30px;
}

footer span {
  color: #34b3f1;
}
